version: '2'

networks:
  torrent:
    external: true
  http:
    external: true
  emby:
    external: true

services:
  sonarr:
    image: lsiodev/sonarr-preview
    restart: always
    environment:
      PUID: '1000'
      PGID: '1000'
      TZ: Europe/London
    networks:
      - default
      - torrent
      - emby
    volumes:
    - /docker/sonarr:/config
    - /ds/tvshows:/tv
    - /ds/torrent:/ds/torrent
  oauth:
    extends:
      file: ../oauth/docker-compose.yml
      service: oauth
    command:
      - http://sonarr:8989
