version: '2'

networks:
  http:
    external: true

services:
  media-server:
    image: plexinc/pms-docker
    environment:
      TZ: Europe/London
      PLEX_UID: '1000'
      PLEX_GID: '1000'
    restart: always
    ports:
     - 32400:32400
    volumes:
    - /docker/plex:/config
    - /tmp
    - /ds/movies:/ds/movies
    - /ds/tvshows:/ds/tvshows
  tautulli:
    image: tautulli/tautulli
    restart: unless-stopped
    environment:
      TZ: Europe/London
      PUID: '1000'
      PGID: '1000'
    volumes:
    - /docker/tautulli:/config
    - /docker/plex/Library/Application Support/Plex Media Server/Logs:/plex_logs:ro
    tty: true
  oauth:
    extends:
      file: ../oauth/docker-compose.yml
      service: oauth
    command:
      - http://tautulli:8181
      - -skip-auth-regex=^/image/|/newsletter/
