[Unit]
Description=%p web application on %i
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/var/lib/docker-compose/%p
Environment=VIRTUAL_HOST=%i
ExecStart=/usr/bin/docker-compose up  --abort-on-container-exit --remove-orphans --no-recreate --no-color
ExecReload=/usr/bin/docker-compose pull

[Install]
WantedBy=multi-user.target
